<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hb-03-one-to-many?useSSL=false</property>
        <property name="hibernate.connection.username">hbstudent</property>
        <property name="hibernate.connection.password">hbstudent-1T</property>
        <!-- Select Our SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property><!-- dialect -->
        <!-- JDBC Connection Pool Settings.... Using Build-In Test Pool -->
        <property name="hibernate.connection.pool_size">10</property>
        <!-- Echo SQL Query -->
        <property name="hibernate.show_sql">true</property><!-- show_sql -->
        <!-- Create Or Update table -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Set The Current Session Context -->
        <property name="current_session_context_class">thread</property>
        
    </session-factory>
</hibernate-configuration>
